section{
  &.bars{
    position: relative;
    width: 100%;
    margin: 6px auto;
    padding: 0.8em 0;
    color: lightseagreen;
    font-size: 14px;
    text-align: center;
    background: rgba(255,255,255,.3);
    &:before{
      content: "";
      z-index: -1;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: lightseagreen;
      transition: width 0.5s;
    }
  }
}

.hov-1:hover .bar-1::before{
  width: 100%;
}

.hov-2:hover .bar-2::before{
  width: 100%;
}

.hov-3:hover .bar-3::before{
  width: 100%;
}

span{
  display: inline-block;
}